.header {
	background-color: rgb(185,122,87);
	height: 140px;
	width: 99%;
	padding: 10px 10px;
	position: fixed;
	white-space: nowrap;
	overflow-x: auto;
	top:0;
}
.header button{
	display: inline-block;
	background-color:rgb(218, 186, 156);
	border-color:rgb(218, 186, 156);
	width: 200px;
	height: 100px;
	font-size: 24px;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
.header p{
	display: inline-block;
	float: right;
	margin-right:5px;
	margin-top:10px;
	font-size: 24px;
}
.header input{
	display: inline-block;
	height: 60px;
	width: 370px;
	margin-left:860px;
	margin-top:60px;
}
.main{
	background-color:rgb(218, 186, 156);
	height:660px;
	margin-top: 140px;
	display:flex;
}
.footer {
	background-color: rgb(185,122,87);
	height: 200px;
	width: 99%;
	padding: 10px 10px;
	position:fixed;
	text-align:center; 
}
.footer button{
	background-color:rgb(218, 186, 156);
	border-color:rgb(218, 186, 156);
	width: 200px;
	height: 100px;
	font-size: 24px;
	margin-top: 20px;
	margin-left: 20px;
	display: inline-block;
}
.footer p{
	display: inline-block;
	text-align:center; 
	vertical-align: middle;
	font-size:48px;
}
.footer a{
	display: inline-block;
	text-align:center; 
	vertical-align: middle;
	font-size:48px;
	padding-left:15px;
	color="black;
}
#iloscWyswietlanych{
	float:left;
}
#nowyPostbtn{
	float:right;
}
body {
	margin:0;
}
