<!DOCTYPE HTML>
<html lang=”pl”>
<head>
<meta charset="utf-8">
<title>Projekt forum internetowego</title>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body >
<div class="header">
    <br><br>
<a href="/posty">Posty</a>
<a href="/albumy">Albumy</a>
<a href="/filtr">Filtruj posty</a>
<a href="/limit">Ilość wyświetlanych postów</a>
{%if isDaneFiltered == True %}
<a href="/clear">Wyczyść filtr</a>
{% endif %}
</div>
<div class="space"></div>
{% block main%}
{% endblock%}
</body>
</html>
