.header {
	background-color: rgb(185,122,87);
	height: 110px;
	width: 99%;
	padding: 10px 10px;
	position: fixed;
	white-space: nowrap;
	overflow-x: auto;
	margin-top:0px;
	margin-left:0px;
	top:0;
	border:0,5px;
}
.header a {
	margin-left:40px;
	font-size:30px;
}
.space {
	margin-top: 131px;
	border:0px;
}
body {
	margin:0;
	background-color:rgb(218, 186, 156);
}
div {
	border: 2px solid black;
	border-left:0px;
}
h1 {
	margin-left: 20px;
}
h2 {
	margin-left: 20px;
}
p {
	margin-left:20px;
}
.title {
	font-size:45px;
}

label {
	font-size:35px;
	margin-left: 20px;
}
#submit {
	margin-left: 300px;
	width:150px;
	height:50px;
	background-color:rgb(185,122,87);
	border-color: black;
	border-width: 3px;
}
input {
	height: 35px;
	-moz-appearance: textfield;
}
input[type="number"]
{
    font-size:26px;
}
.commentTitle {
	font-size:25px;
	margin-left:20px;
}
.commentBody {
	font-size:20px;
	margin-left:20px;
}
hr {
	color: black;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:link {
  color: black;
  text-decoration: none;
}
a:hover {
  color:  #505050;
  text-decoration: none;
}
a:active {
  color: gray;
  text-decoration: none;
}
img {
	margin-left:20px;
}